*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
    /*background-color: #0c2340;*/
    /*background-color: #b95118;*/
}
.center
{
    display: flex;
    max-width: 1200px;
    padding:0 2%;
    margin:0 auto;
    flex-wrap: wrap;
   /*border: 2px solid rgb(30, 255, 0);*/
}
/*-----------SECTION-----------*/
section.menu
{
    min-height: 80px;
    background-color: #0c2340;
}
.menu_geral
{
    /*border: 2px solid brown;*/
    background-color: #0c2340;
    width: 100%;
    height: 80px;
    padding-top: 2px;
    display: flex;
    overflow: hidden;
    position: fixed;
    z-index: 100;
}
.menu_logo
{
    min-width: 200px;
    width: 30%;
    padding-left: 50px;
    /*border: 2px solid red;*/
}
.menu_logo img
{
    max-width: 100px;
    max-height: 100px;
}
.menu_itens
{
    /*border: 2px solid rgb(42, 99, 165);*/
    width: 70%;
    margin-top: 40px;
    text-align: end;
    /*border: 2px solid black;*/
}
.menu_itens a
{
    text-decoration: none;
    color: white;
    margin-right: 15px;
    font-weight: bold;
   /*border: 2px solid #144ea5;*/
}
.menu_itens a:hover
{
    border-bottom: 4px solid #b95118;
    border-radius: 1px;
}
/*section.pagina_home*/

.pagina_home > .center
{
    max-width: none;
    /*border: 2px solid yellow;*/
    padding: 0;
    min-height: 900px;

}
.img_home
{
    /*border: 2px solid rgb(0, 225, 255);*/
    width: 100%;
    background-image: url(assets/slider01.jpg);
    background-size: cover;
    background-position: center;
}
.text_home
{
    /*border: 2px solid black;*/
    margin: auto;
    margin-top: 300px;
    margin-left: 150px;
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 280px;
    padding: 14px;
    
}
.text_home h1
{
    font-size: 28px;
    padding-bottom: 14px;
}
.text_home h2
{
    font-size: 20px;
}
.btn 
{
    color: #0c2340;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #0c2340;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    z-index: 1;
    margin-top: 120px;
    border-radius: 8px;
}
  
  .btn:hover 
{
    color: white;
    z-index: 1;
}
  
  .btn::before
{
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: #b95118;
    z-index: -1;
    transition: all 1s;
}
  
  .btn:hover::before 
{
    width: 160%;
}
/*-----------SECTION-----------*/
section.sobre_mim
{
    background-color: rgb(200, 200, 200);
    min-height: 800px;
}
.sobre_geral
{
    display: flexbox;
    /*border: 2px solid red;*/
}
.sobre_pt1
{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(220, 220, 220);
    border-radius: 20px;
    padding: 25px;
    /*order: 2px solid green;*/
}
.sobre_foto
{
    width: 30%;
    margin: auto;
    /*border: 2px solid pink;*/
}
.sobre_text
{
    width: 70%;
    padding: 5px 20px;
    /*border: 2px solid cyan;*/
}
.sobre_text h1
{   
    padding-top: 10px;
    font-size: 28px;
    font-weight: bold;
}
.sobre_text h2
{   
    padding-top: 6px;
    font-size: 16px;
    font-weight: bold;
}
.sobre_text h3
{   
    padding-top: 25px;
    font-size: 18px;
    font-weight: normal;
    text-align: justify;
}
.sobre_foto img
{
    width: 100%;
    border-radius: 20px;
    padding: 5px;
}
.sobre_pt2
{
    display: flex;
    width: 100%;
    /*border: 2px solid yellow;*/
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 25px;
}
.sobre_resumo
{
    width:70%;
    padding: 5px 20px;
    /*border: 2px solid green;*/
}
.sobre_resumo h1
{
    padding-top: 10px;
    font-size: 28px;
    font-weight: bold;
}
.sobre_resumo h2
{
    padding-top: 6px;
    font-size: 16px;
    font-weight: bold;
}
.sobre_resumo h3
{
    padding-top: 25px;
    font-size: 18px;
    font-weight: normal;
    text-align: justify;
}
.sobre_box
{   
    margin: auto 28px auto;
    width: 30%;
}
.sobreBox_single
{
    display: flex;
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #000000;
    border-radius: 1px;
}
.sbs1
{   
    display: flex;
}
.sbs2
{
    margin: auto 10px;
}
.sbs2 h1
{
    color: cornflowerblue;
    font-size: 18px;
}
.sbs2 h2
{
    color: #2db918;
    font-size: 14px;
}
.logo_box_sobre
{
    width: 70px;
    height: 70px;
    margin: auto;

}
.btn1
{
    color: #0c2340;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #0c2340;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    z-index: 1;
    margin-top: 120px;
    border-radius: 8px;
}
  
  .btn1:hover 
{
    color: white;
    z-index: 1;
}
  
  .btn1::before
{
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: #b95118;
    z-index: -1;
    transition: all 1s;
}
  
  .btn1:hover::before 
{
    width: 160%;
}
.contato_box
{
    margin: auto;
    display: flex;
    /*border: 2px solid cyan;*/
}
.contato_box > .btn1
{
    margin-top: auto;
    margin: 25px auto;
}
section.servicos
{
    background-color: rgb(200, 200, 200);
}
.serv_titulo
{
    margin: auto;
    padding: 40px;
    padding-top: 60px;
    /*border: 2px solid red;*/
}
.serv_box
{
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 10px;
    justify-content: center;
    /*border: 2px solid cyan;*/

}
.polaroid
{
    /*border: 2px solid green;*/
    margin: auto;
    width: 100%;
    min-height: 500px;
    padding: 14px;
    border-radius: 20px;
    background-color: rgb(220, 220, 220);
}
.inf_polaroid
{
    /*border: 2px solid pink;*/
}
.fotos_servicos
{
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: center;
    /*border: 2px solid yellow;*/
}
.inf_polaroid h1
{
    font-size: 22px;
}
.inf_polaroid h2
{
    font-size: 18px;
    font-weight: normal;
}
/*-----------SECTION-----------*/
section.conclusao
{
    min-height: 500px;
    background-color: #0c2340;
    color: white;
    border-top: 10px solid #000000;
}
.conclu_text
{
    width: 100%;
    height: 500px;
    display: flex;
    margin-top: 18px;
    
}
.top1
{
    width: 40%;
    margin: 10px;
    display: flex;
    border-top: 3px solid #b95118;
    
}
.top1 img
{
    width: 50%;
    margin: auto;
    margin-top: 30px;
}
.top2
{
    width: 30%;
    margin: 10px;
}
.menu_rapido
{   
    height: 50%;
    border-top: 3px solid #b95118;
}
.menu_rapido h1
{
    font-size: 20px;
    text-align: center;
    padding: 10px 0px;
}
.menu_rapido a
{
    padding: 6px 0;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
}
.redes_sociais
{
    height: 50%;
    border-top: 3px solid #b95118;
    cursor: pointer;
}
.redes_sociais h1
{
    display: block;
    font-size: 20px;
    text-align: center;
    padding: 10px 0px;
}
.logos_redes
{
    display: flex;
    justify-content: center;
}
.redes_sociais img
{
    margin: 0px 5px;
    width: 40px;
    height: 40px;
}
.top3
{
    width: 30%;
    margin: 10px;
    border-top: 3px solid #b95118;
}
.top3 h1
{
    display: block;
    font-size: 20px;
    text-align: center;
    padding: 10px 0px;
}
.top3 h3
{
    font-size: 14px;
    font-weight: normal;
    padding: 10px 0px;
}
footer
{
    background: rgb(200, 200, 200);
    margin: auto;
}
.rodape
{
    display: flex;
    height: 50px;
    width: 100%;
}
.rodape h3
{
    width: 25%;
    font-size: 12px;
    text-align: start;
}
.rodape > .rod1
{
    font-size: 12px;
    margin: auto;
    text-align: end
}
.rodape > .rod2
{
    font-size: 12px;
    margin: auto;
    text-align: start;
    padding-left: 4px;
}
.rodape h4
{
    width: 50%;
    font-size: 12px;
    margin: auto;
    text-align: end;
}
